# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
*.out

# Dependency directories (rare but sometimes used)
vendor/

# Go workspace
go.work
go.work.sum

# Environment files
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules